@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter&family=Montserrat:wght@400;600;700&display=swap");

body {
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  background-color: #f0e6d2;
  color: #543d35;
  text-align: center; /* Centra el contenido en el cuerpo */
}

header {
  background-color: #d4b996;
  color: #543d35;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
}
.foto_pareja {
  display: block;
  margin: 0 auto;
  width: 300px;
  box-shadow: 1px 5px 3px #333;
}
/* Estilos para el reproductor de música */
audio {
  width: 50%; /* Ocupa todo el ancho disponible */
  background-color: #f0e6d2; /* Color de fondo */
  border: 2px solid #543d35; /* Borde con color */
  border-radius: 10px; /* Borde redondeado */
  padding: 10px; /* Espaciado interior */
  margin-top: 10px;
}

/* Estilos para los controles de audio */
audio::-webkit-media-controls-panel {
  background-color: transparent; /* Fondo transparente */
}

/* Estilos para los botones de reproducción */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
  color: #543d35; /* Color de los botones */
}

/* Estilos para la barra de progreso */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #543d35; /* Color del texto de tiempo */
}

/* Estilos para el volumen */
audio::-webkit-media-controls-volume-slider {
  background-color: #543d35; /* Color de fondo de la barra de volumen */
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.invitation {
  text-align: center;
  margin-bottom: 30px;
}
.mapa {
  border-radius: 1rem;
  box-shadow: 1px 5px 3px #333;
}

h2 {
  font-size: 2rem;
  color: #8f6353;
}

.names {
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
}

.date,
.location {
  font-family: "Great Vibes", cursive;
  font-size: 1.2rem;
}

.rsvp {
  font-family: "Great Vibes", cursive;
  text-align: center;
  font-size: 1.2rem;
}
/* Estilos base para tu botón */
.custom-button {
  display: inline-block;
  padding: 10px 20px; /* Ajusta el espaciado interior según tus preferencias */
  background-color: #8f6353; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  font-size: 16px; /* Tamaño de fuente del botón */
  border: none; /* Quita el borde del botón */
  cursor: pointer;
  border-radius: 5px; /* Agrega bordes redondeados al botón */
}

/* Estilo al pasar el cursor por encima del botón (hover) */
.custom-button:hover {
  background-color: #543d35; /* Cambia el color de fondo al pasar el cursor */
  color: #fff; /* Cambia el color del texto al pasar el cursor */
}

.link_pago {
  width: 80%; /* Ancho deseado para la sección */
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.info_link {
  width: 65%; /* Ancho deseado para la sección */
  margin-left: auto;
  margin-right: auto;
  font-family: "Great Vibes", cursive;
  text-align: center;
  font-size: 2.5rem;
}
.img_pago {
  width: 50%;
  text-align: center;
}
.info_pago {
  text-align: center; /* Centrar el contenido horizontalmente */
  max-width: 300px; /* Establece un ancho máximo para el div */
  margin: 0 auto; /* Centrar el div horizontalmente en su contenedor */
  background-color: #fff; /* Color de fondo */
  padding: 20px; /* Espaciado interior */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #8f6353;
  font-style: italic;
}

/* Media query para tablets (pantallas de 768px a 1023px) */
@media screen and (max-width: 576px) {
  /* Ajustes de estilo para pantallas pequeñas */
  h1 {
    font-size: 2rem; /* Reducir el tamaño de la fuente del encabezado principal */
  }
  .foto_pareja {
    width: 100%;
  }
  .content {
    width: 70%;
    text-align: center;
  }
  .invitation {
    max-width: 100%;
    margin: 0 auto;
  }
  .mapa {
    width: 270px;
    border-radius: 1rem;
    box-shadow: 1px 5px 3px #333;
  }
}
